html,body {
  padding: 0;
  margin: 0px;  
  background-color: #101010;
  font-family: 'arial';
  font-size: 1em;
  letter-spacing: 1px;
  height: 100%;
} 

*, li, ul, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight:normal;
  font-size: 1em;
  line-height: 1.5em;
  list-style: none;
}

h1 {
  font-weight:bold;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  width: 100%;
}

a, label {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

p {
  line-height:   1.5em;
}


section div:first-child, nav div:first-child {
  width: 916px;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 0 22px;
}


/* IMPORTANT */

input[type="radio"], input[type="checkbox"] {
  display: none;
}

/* NAV BAR */
nav {
  display:block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 51px;
  z-index:999;
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
  box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
  padding: 0;
  background-color: #101010;
  color: #c6c7c8;
}
nav div > a {background: url('../images/default_logo.png') center center no-repeat;}
nav a {
  display:block;
  width:46px;
  height: 41px;
  float:left;
  text-indent: -9999px;
  margin: 5px 0;
}
nav h2 {
  display:block;
  font-size: .8em;
  float: right;
  margin:19px 25px 0 0;
  line-height: 1em; 
  color: #c6c7c8;
}

nav menu {
  display: block;
  float: right;
  margin: 5px 0px 9px 0;
  width: 26px;
  min-height: 24px;
  text-indent: -9999px;
  cursor: pointer;
  padding: 7px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background: url('../images/main_menu_icon.png') center center no-repeat;
  border: 2px solid #101010;
}

nav menu:hover {border: 2px solid #101010;  background: url('../images/main_menu_icon.png') center 7px no-repeat;}

nav menu ul {
  display: none;
  position: relative;
  top: 37px;
  width: 132px;
  margin: 0;
  padding: 0;
  float: right;
  z-index: 1;
  -webkit-border-radius: 0px 0 6px 6px;
  border-radius: 0px 0 6px 6px;
  right: -9px;
  -webkit-box-shadow: -2px 2px 3px 0 rgba(0,0,0,.1);
  box-shadow: -2px 2px 3px 0 rgba(0,0,0,.1);
  background-color: rgba(0, 0, 0, 0.901961);
  border: 2px solid #c6c7c8;
}
/* The Magic is here */
nav menu:hover ul{
  display: block;
}
nav menu ul li {
  width: 92%;
  float: left;
  display: block;
  padding: 5px 4%
}

nav menu ul li a {
  display: block;
  float: left;
  background: transparent;
  text-indent: 0px;
  width: 100%;
  height: auto;
  padding: 5px 0;
  margin: 0;
  line-height: 1em;
  text-align: center;
  color: #c6c7c8;
  font-size: .8em;
}

nav menu ul li a:hover{
  border-left: none;
  border-right: none;
  padding: 4px 0 ;
  color:#010101;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(216, 212, 212, 1);
}

#nojs-pure-css-carousel {
  width: 100%;
  float:left;
  min-width: 960px;
  background-color: #F0F4FA;
  z-index: 2;
  position:relative;
  padding-top: 0px;
  min-height: 640px;
}

#nojs-pure-css-carousel h1 {
  width: 100%;
  text-align: center;
  margin: 150px 0 0 0;
}

#nojs-pure-css-carousel article {
  float: left;
  position: relative;
  margin: 50px 25%;
  display: inline-block;
  width: 50%;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-color: RGBA(44, 50, 67, .73);
  border: 2px solid RGBA(44,50,67,1);
  padding: 2% 0 105px 0;
  overflow: hidden;
}
#nojs-pure-css-carousel span {
  width: 11.1%;
  float: left;
  display: inline-block;
  background-image: none;
  margin-top: 0;
  padding-left: .7%;
  padding-right: 0.7%;
  margin: 0;
  text-align: left}
#nojs-pure-css-carousel span p {color: #C1C1C2;margin: 1em 0 0 0;}
#nojs-pure-css-carousel span:nth-child(1) {margin-left: 0%;}
#nojs-pure-css-carousel span:nth-child(2) {margin-left: 4%;}
#nojs-pure-css-carousel span h1 {
  color: #cfa775;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0;
  text-align: left;}


/* CSS3 Animation effects */
#nojs-pure-css-carousel article div {
  width:800%;
  float:left;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */}
}
#slide1:checked ~ aside label:nth-child(1),
#slide2:checked ~ aside label:nth-child(2),
#slide3:checked ~ aside label:nth-child(3),
#slide4:checked ~ aside label:nth-child(4),
#slide5:checked ~ aside label:nth-child(5),
#slide6:checked ~ aside label:nth-child(6),
#slide7:checked ~ aside label:nth-child(7) {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;}

/* Slide Position */
#slide1:checked ~ div {margin-left:0%;}
#slide2:checked ~ div {margin-left:-132%;}
#slide3:checked ~ div {margin-left: -232.2%;}
#slide4:checked ~ div {margin-left: -332.2%;}
#slide5:checked ~ div {margin-left: -432.2%;}
#slide6:checked ~ div {margin-left: -532%;}
#slide7:checked ~ div {margin-left: -632%;}

/* Controls */
#nojs-pure-css-carousel article aside {text-indent: -9999px; float: left; text-align: left;}
#nojs-pure-css-carousel article aside label { 
  display: none; 
  cursor: pointer; 
  position: absolute;
  height:36px;
  width: 34px;}
#slide1:checked ~ aside label:nth-child(7),
#slide2:checked ~ aside label:nth-child(1),
#slide3:checked ~ aside label:nth-child(2),
#slide4:checked ~ aside label:nth-child(3),
#slide5:checked ~ aside label:nth-child(4),
#slide6:checked ~ aside label:nth-child(5),
#slide7:checked ~ aside label:nth-child(6) {
  /* previous button */
  display: block;
  left: 18px;
  bottom: 18px;
  text-align: left;
  background: url('../images/slide_prev.png') center center no-repeat;}
#slide1:checked ~ aside label:nth-child(7):hover,
#slide2:checked ~ aside label:nth-child(1):hover,
#slide3:checked ~ aside label:nth-child(2):hover,
#slide4:checked ~ aside label:nth-child(3):hover,
#slide5:checked ~ aside label:nth-child(4):hover,
#slide6:checked ~ aside label:nth-child(5):hover,
#slide7:checked ~ aside label:nth-child(6):hover {background: url('../images/slide_prev_hover.png') center center no-repeat;}

#slide1:checked ~ aside label:nth-child(2),
#slide2:checked ~ aside label:nth-child(3),
#slide3:checked ~ aside label:nth-child(4),
#slide4:checked ~ aside label:nth-child(5),
#slide5:checked ~ aside label:nth-child(6),
#slide6:checked ~ aside label:nth-child(7),
#slide7:checked ~ aside label:nth-child(1) {
  /* next button */
  display: block;
  right: 18px;
  bottom: 18px;
  text-align: left;
  background: url('../images/slide_next.png') center center no-repeat;
}

#slide1:checked ~ aside label:nth-child(2):hover,
#slide2:checked ~ aside label:nth-child(3):hover,
#slide3:checked ~ aside label:nth-child(4):hover,
#slide4:checked ~ aside label:nth-child(5):hover,
#slide5:checked ~ aside label:nth-child(6):hover,
#slide6:checked ~ aside label:nth-child(7):hover,
#slide7:checked ~ aside label:nth-child(1):hover {background: url('../images/slide_next_hover.png') center center no-repeat;}

/* Pagination */
#nojs-pure-css-carousel menu {
  /* container */
  text-indent: -9999px;
  position: absolute;
  z-index: 99;
  width: 359px;
  bottom: 15px;
  left: 54px;
  height: 29px;
text-align: left;}
#nojs-pure-css-carousel menu label {
  /* controls */
  background: url('../images/slide_pagination.png') center center no-repeat;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 5px;
  float: left;
  text-align: left;}
#nojs-pure-css-carousel  menu label:hover {background: url('../images/slide_pagination_hover.png') center center no-repeat;}
#nojs-pure-css-carousel menu label:nth-child(1) {margin: auto 5px auto 94px;}
/*style active page button*/
#slide1:checked ~ menu label:nth-child(1),
#slide2:checked ~ menu label:nth-child(2),
#slide3:checked ~ menu label:nth-child(3),
#slide4:checked ~ menu label:nth-child(4),
#slide5:checked ~ menu label:nth-child(5),
#slide6:checked ~ menu label:nth-child(6),
#slide7:checked ~ menu label:nth-child(7) {background: url('../images/slide_pagination_selected.png') center center no-repeat;}




/* NO JS LIGHTBOX */
#nojs-pure-css-lightbox {
  width: 100%;
  float:left;
  min-width: 960px;
  background-color: #78B1D1;
  z-index: 2;
  position:relative;
  padding-top: 0px;
  min-height: 640px;
}

#nojs-pure-css-lightbox h1 {
  width: 100%;
  text-align: center;
  margin: 150px 0 0 0;
}

#nojs-pure-css-lightbox h3 {
  width: 100%;
  text-align: center;
  float: left;
}
#nojs-pure-css-lightbox p {
  width: 100%;
  text-align: center;
  float: left;
}
#nojs-pure-css-lightbox div article > label {
  margin: 100px 0 0 0;
  float: left;
  display: inline-block;
  width: 33.33%;
}

#nojs-pure-css-lightbox div article > label img {
  margin: 20px 25% 0 25%;
  float: left;
  display: inline-block;
  width: 50%;
    -webkit-box-shadow: 1px 1px 2px 0 #050505;
  box-shadow: 1px 1px 2px 0 #050505;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

/* NO-JS image popup */
#nojs-pure-css-lightbox aside label {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: RGBA(0, 0, 0, .8);
  z-index: 9996;
  display:block;
  margin:0;
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -moz-animation: fadein .5s; /* Firefox */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */
  animation: fadein .5s;}
#nojs-pure-css-lightbox aside span {
  display: none;
  position:fixed;
  width: 590px;
  height: 540px;
  left: -295px;
  margin-left: 50%;
  top: 55px;
  z-index: 9997;
  background-image: none;}
#nojs-pure-css-lightbox aside span label {
  display: none;  
  z-index: 9999;
  position: absolute;
  top: 3px;
  left: 95%;
  width: 28px;
  height: 27px;
  background:url(../images/close_icon.png) center center no-repeat;
  text-indent: -9999px;}
#nojs-pure-css-lightbox aside span label:hover {background:url(../images/close_icon_hover.png) center center no-repeat;}
#nojs-pure-css-lightbox aside span img {
  width: 590px;
  height: 540px;
  -webkit-box-shadow: 1px 1px 2px 0 #050505;
  box-shadow: 1px 1px 2px 0 #050505;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  z-index: 9998;
  position: relative}
#nojs-pure-css-lightbox aside span:hover label{display: block;}

/* Paris Hilton Full Size Images */
#images_off:checked + label {display:none;}
#image1:checked + span, #image2:checked + span, #image3:checked + span {
  display: block;
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -moz-animation: fadein .5s; /* Firefox */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */
  animation: fadein .5s;}